@font-face {
	font-family: 'Cantarell-Regular';
	src: url('/fonts/Cantarell-Regular.ttf')  format('truetype');
}

@font-face {
	font-family: 'LiberationMono-Regular';
	src: url('/fonts/LiberationMono-Regular.ttf')  format('truetype');
}

body{
	font-family: 'Cantarell-Regular', sans-serif;
	color: #999999;
	background: #fff;
	padding-bottom: 100px;
	font-size: 16px;
  line-height: 1.8;
  overflow: scroll;
}

::selection{
  background: #79ffe1;
}

* {
	transition: all 0.2s ease-out;
}

a {
	transition: all 0.2s ease-out;
	text-decoration: none;
	font-size: 13px;
	color: #ff0080;
}

p a{
	font-size: 16px;
}

a:hover {
	text-decoration: underline;
}

a.mail:hover{
	color: #ff0080 !important;
}

a.linkedin:hover{
	color: #283e4a !important;
}

a.telegram:hover{
	color: #0ebdfc !important;
}

.btn {
	background: #000;
	text-decoration: none;
	font-size: 12px !important;
	color: #ffffff;
	padding: 12px;
	border-radius: 5px;
  text-transform:	uppercase;
  display: inline-block;
  margin-bottom: 5px;
  white-space: nowrap;
}

.btn:hover{
	color: #fff;
}

.btn * {
	font-size: 12px !important;
}

#header {
	padding-top: 25px;
	padding-bottom: 150px
}

#header .menu {
  display: inline-block;
}

#header .menu a, ul.links {
	text-transform:	uppercase;
	padding: 10px;
	color: #999999;
	text-decoration: none;
	font-size: 12px;
	text-rendering: optimizeLegibility;
}

ul.links a {
  font-size: 12px;
  list-style-type: none;
}

ul.links {
  list-style-type: none;
}

#header .menu a:hover {
	color: #000000;
}

.black {
	color: #000000;
}

h1, h2, h3 {
	color: #000000;
	font-weight: 400;
}

h1 {
	font-size: 32px;
}

h1 img, h2 img, h3 img, .icon{
	width: 27px;
	height: 27px;
}

.space-after{
	margin-bottom: 100px;
}

.space-after-double{
	margin-bottom: 200px;
}

pre{
	font-family: 'LiberationMono-Regular';
	background: #000000;
	color: #ffffff;
	font-size: 12px;
	padding: 12px 22px;
}

.window-title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  margin: 0;
  background: #000000;
  text-align: center;
  padding: 7px 0px;
	border-radius: 5px 5px 0 0;
	padding-right: 60px;
}

h1.window-title>i{
	width: 13px;
	height: 13px;
  display: inline-block;
  float: left;
	border-radius: 7px;
	margin-left: 10px;
	margin-top: 4px;
}

h1.window-title>i:nth-child(1) {
	background: #ff5f56;
}
h1.window-title>i:nth-child(2) {
	background: #ffbd2e;
}
h1.window-title>i:nth-child(3) {
	background: #27c93f;
}

.window-body {
  background: black;
  border-radius: 0 0 5px 5px;
	margin-top: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0 3px 3px;
}

.window-body.white {
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.08);
  border-top: none;
  box-shadow: none;
}

.window-title.white {
  color: rgba(0, 0, 0, 0.3);
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.08);
  border-bottom: none;
}

.window-title.white>span {
  background: rgba(0,0,0,0.03);
  padding: 4px 20px;
  border-radius: 3px;
}

#header .menu a i, a i {
	font-size: 12px !important;
  margin-right: 5px !important;
}

.col-6 > img.window-body.white, .col-3 > img.window-body.white{
	width: calc(100% - 2px);
}

.col-6 > img, .col-3 > img{
	width: 100%;
}


.avatar {
  border-radius: 100%;
}


@media only screen and (max-width: 45em) { 
  .avatar {
    max-width: 40%;
    margin: 0 auto;
    display: block;
  }

  #header .menu:nth-child(2) {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}

/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}



/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
