<h1 class="center">Introduction</h1>
<div class="row">
      <div class="col-2">
      </div>
   <div class="col-5">
      <p>My name is Krisztián Ádám.</p>
      <ul class="links">
         <li><a href="#drv">Vert.x</a></li>
         <li><a href="#telegram-bots">Telegram Bots</a></li>
         <li><a href="#android-apps">Android applications</a></li>
         <!-- <li><a href="#algorithms">artificial intelligence</a></li>
         <li>algorithms and performance optimization</li> -->
      </ul>
      <!-- <p>
         If you would like to hire me just send me an <a href="mailto:adamkrisz@gmail.com" class="mail"><i class="im im-mail"></i>email</a>
      </p> -->
   </div>
   <div class="col-3">
      <img src="pic.png" class="avatar">
   </div>
</div>
<h1 class="center space-after"><i class="im im-angle-down"></i></h1>

<h1 class="center space-after">Some of my more interesting projects</h1>

<!-- <a name="dpipp"></a>
<div class="row">
   <div class="col-6">
      <h2>DNA-Proten Interface Plotter</h2>
      <p>
         No hassle, no forms, no waiting. 
         Pick any domain with hundreds of supported 
         TLDs and GTLDs!
      </p>
      <a class="btn" href="asddd.bch.hu" target="_blank">asddd.bch.hu</a>
   </div>
   <div class="col-6">
      <h1 class="window-title white"><i></i><i></i><i></i><span>http://dpipp.bsc.hu</span></h1>
      <img class="window-body white" src="projects/dpipp/1.png">
   </div>
</div> -->

<a name="drv"></a>
<div class="row space-after">
   <div class="col-6">
      <h2>[Unreleased] Vert.x based bioinformatics SaaS</h2>
      <p>
            I have developed a software system at the <a href="http://www.brc.hu/core_bioinformatics.php" target="_blank">Bioinformatics Group of BRC</a>. It has been built using Vert.x, leveraging the framework's ability to communicate efficiently with many background databases and softwares.
      </p>
      <a class="btn" href="#" target="_blank">comming soon...</a>
   </div>
   <div class="col-6">
      <h1 class="window-title white"><i></i><i></i><i></i><span>http://localhost</span></h1>
      <img class="window-body white" src="projects/dpipp/1.png">
   </div>
</div>

<a name="telegram-bots"></a>
<div class="row space-after">
   <div class="col-6">
      <img src="projects/tgbot/chat.png">
      <h1 class="window-title"><i></i><i></i><i></i><span>telegram-bot</span></h1>
      <pre class="window-body">
<span style="color: #ff0080">cmd</span> <span style="color: turquoise;">"hello"</span> <span style="color: #ff0080">do</span> |msg|
    <span style="color: #ff0080">reply</span> msg, <span style="color: turquoise;">"world!"</span>
<span style="color: #ff0080">end</span></pre>
   </div>
   <div class="col-6">
      <h2>Telegram Bots</h2>
      <p>
         I develop and maintain a <a target="_blank" href="https://core.telegram.org/bots/api">Telegram Bot API</a> wrapper for the <a target="_blank" href="https://crystal-lang.org/">Crystal programming language</a>.
      </p>
      <a class="btn" href="https://github.com/hangyas/telegram_bot" target="_blank">library</a>
      <a class="btn" href="https://t.me/ReminderKnightBot" target="_blank">Reminder Knight</a>
   </div>
</div>
<a name="android-apps"></a>
<div class="row space-after">
   <div class="col-6">
      <h2>Android apps</h2>
      <p>
         My first apps have been published for Firefox OS, they were often featured on the Market's front page. Later I started porting my successful apps to android and develop new ones as well.
      </p>
      <a class="btn" href="javascript:open('projects/antpaint/index.html')">AntPaint</a>
      <a class="btn" href="https://play.google.com/store/apps/details?id=hangyas.net.slide" target="_blank">Slide</a>
   </div>
   <img src="projects/antpaint/all.png" class="col-6">
</div>
<a name="algorithms"></a>
<div class="row space-after">
   <div class="col-6">
      <h2>Neural network with backpropagation</h2>
      <p>
         Very simple neural network implementation with backpropagation. Using the <a href="https://crystal-lang.org/" target="_blank">Crystal programming language</a>. Successfully used to recognize numbers from small images.
      </p>
   </div>
   <div class="col-6">
      <h2>A toy language and VM</h2>
      <p>
         A toy language with a small 8-bit toy vm written in C. The compiler has been developed in scala. The language is very limited, it handles only byte as variable type. There are no void functions, no stdin/stdout, or any other io, no heap.
      </p>
   </div>
</div>