
			<h1>WEB</h1>

			<a href="http://imgur.com/a/6cVPu">képek</a>
			<a href="projects/zseleklub_imgur.zip">zip</a><br><br/>

			<a href="http://zsele.club.hu/">2006: legelső</a> - <a href="projects/site_zsele.club.hu/Zselé Klub ______ Powered by_ www.webtar.hu ______.html">copy</a><br/><br/>
			<a href="projects/hangyaoldal_mentes/default.html">valahanyadik</a><br/>
			<a href="projects/hangyasnet_1/hangyas.net.htm">masvalahanyadik</a><br/>
			<a href="projects/site_2016/map.html">2016</a><br/>
			<a href="projects/site_2017/index.html">2017</a><br/>
			

			<h1><img src="projects/enderchest/enderchest.png"> SharedEnderchest</h1>
			<p>A small minecraft bukkit plugin, that makes the enderchest content the same for each player</p>
			<a href="https://github.com/hangyas/SharedEnderchest">source</a><br/>
			<a href="https://dl.dropboxusercontent.com/u/6900766/SharedEnderchest.jar">download</a><br/>
			<a href="http://dev.bukkit.org/bukkit-plugins/sharedenderchest/">Bukkit Dev</a><br/>
			

			<h1>Firefox OS</h1>

			<ul>
				<li><img class="icon" src="projects/antpaint_ffos/antpaint.png"> <a href="projects/ffos/antpaint/index.html">AntPaint</a> - <a href="https://marketplace.firefox.com/app/antpaint">market</a> - <a href="https://imgur.com/a/VLr3K">development</a></li>
				<li><img class="icon" src="projects/trianglr/trianglr.png">  Trianglr - <a href="https://marketplace.firefox.com/app/trianglr">market</a></li>
				<li><img class="icon" src="projects/gammy/gammy.png"> Gammy - <a href="https://marketplace.firefox.com/app/gammy">market</a>, <a href="projects/random_pics/gammy_concept.svg">concept</a></li>
				<li>FingerBall - <a href="https://marketplace.firefox.com/app/fingerball">market</a></li>
				<li>FlyingBall - <a href="https://marketplace.firefox.com/app/flyingball">market</a></li>
				<li><a href="projects/infinite_run/index.html">Infinite Run</a></li>
			</ul>

			<h1>Paca</h1>
			<a href="projects/paca/index.html">standard</a><br/>
			<a href="projects/paca/hd.html">hd</a><br/>
			<a href="projects/paca/blur.html">blur</a><br/>
			
			<h1>mapgen</h1>
			
			<a href="http://jsfiddle.net/adamkrisz/LamDX/light/">repkedős (broken)</a><br/>
			<a href="http://jsfiddle.net/adamkrisz/nkh3X/">2d</a><br/>
			
			<h1>Flash</h1>

			<a href="projects/hangyaoldal_mentes/default_007.html">egy növény élete</a><br/>
			<a href="projects/hangyaoldal_mentes/default_007.html">faltépő</a>

			<h1>Java játékok</h1>
			<p>többnyire sose készültek el</p>

			<h2>Azteca</h2>

			<p>Logikai játék, melyben labirintusokon kell átjutni úgy, hogy a falakat kapcsolók segitségével változtathatjuk meg.</p>

			<img src="projects/azteca/logo.png">
			<img src="projects/azteca/img0.png">
			<img src="projects/azteca/img1.png"><br>

			<a href="projects/java-szenvelges/azteca/azteca_win.zip">win</a><br>
			<a href="projects/java-szenvelges/azteca/azteca_linux.zip">linux</a>
			<h2>FOB</h2>
			<p>Körökre osztott félkész stratégiai multiplayer játék, amit <del>valószinüleg</del> sosem fogok befejezni.</p>

			<img src="projects/random_pics/fob0.png"><br>
			<a href="projects/hangyaoldal_mentes/fob.jar">download</a>

			<h2>2D RTS</h2>

			<p>Egy 2D-s oldalnézetes platformer-rts hibrid. Egyelőre név nélkül és irtó kezdetleges állapotban. A játék helyszíne Középfölde lesz, ennélfogva törpök, tündék, valamint emberek irányitása lesz a feladatunk, ezekhez egyelőre nicsen grafika(csak zöld négyzet és fehér valami).</p>

				<p>A játék futtatásához java7 szükséges. Az egységek irányitása és parancsok kiadása billentyűzettel történik (lásd: readme.txt)</p>

				<p>A mapok egyelőre png fájlokban tárolódnak.<br />
				A pálya egy akármekkora png fájlból beovlasható, mindössze be kell helyezni a játék /maps mappájába. Minden pixel egy blockot jelöl. -1.0 ban midnen tipusu egységből egy-egy spawnol a pálya bal felső sarkában, a késöbbi verziókhoz várható egy mapeditor.</p>

				<p>fejlesztés alatt:</p>

				<ul>
				  <li>teljes karaktertábla</li>
				  <li>több épitési lehetőség</li>
				  <li>map editor</li>
				  <li>minimális textúra a fajokhoz</li>
				</ul>

				<p>tervek:</p>

				<ul>
				  <li>egységképzés</li>
				  <li>multiplayer</li>
				  <li>mobok</li>
				</ul>

				<h2>Tologatós</h2>

				<p><a href="projects/hangyaoldal_mentes/default_004.html">v1</a><br />
				<a href="projects/hangyaoldal_mentes/default_003.html">v2</a></p>

				<h2>Random hazi</h2>
				<p><a href="projects/sajt/index.html">sajt</a></p>
